In [50]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [51]:
import base64
import requests


def get_as_base64(url):
    return base64.b64encode(requests.get(url).content)

In [52]:
df = pd.read_csv('database.csv', dtype={'aide': 'object'})
df

  aide                                         img
0    1  https://webicalife.herokuapp.com/logo3.png
1    2  https://webicalife.herokuapp.com/logo3.png
2    3  https://webicalife.herokuapp.com/logo3.png
3    4  https://webicalife.herokuapp.com/logo3.png
4    5  https://webicalife.herokuapp.com/logo3.png
5    6  https://webicalife.herokuapp.com/logo3.png
6    7  https://webicalife.herokuapp.com/logo3.png
7    8  https://webicalife.herokuapp.com/logo3.png
8    9  https://webicalife.herokuapp.com/logo3.png

In [53]:
df.dtypes

aide    object
img     object
dtype: object

In [54]:
df['img64'] = df['img'].apply(lambda x : 'data:image/png;base64,'+str(get_as_base64(x))[2:-1])
df

,aide,img,img64
0,1,https://webicalife.herokuapp.com/logo3.png,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
1,2,https://webicalife.herokuapp.com/logo3.png,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
2,3,https://webicalife.herokuapp.com/logo3.png,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
3,4,https://webicalife.herokuapp.com/logo3.png,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
4,5,https://webicalife.herokuapp.com/logo3.png,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
5,6,https://webicalife.herokuapp.com/logo3.png,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
6,7,https://webicalife.herokuapp.com/logo3.png,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
7,8,https://webicalife.herokuapp.com/logo3.png,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
8,9,https://webicalife.herokuapp.com/logo3.png,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."

In [59]:
df['query'] ="WITH tp as (INSERT INTO picture (source) VALUES ('" + df['img64'] +"') RETURNING idpicture) INSERT INTO item (idUser, lastEdition, idUnivers, idpicture, itemname, ref, provider, description ) VALUES (0, now(), 0, (SELECT idpicture FROM tp), " + df['aide'] + ', ' + df['aide'] + ', ' + df['aide'] + ', ' + df['aide'] + ') ;'
df

,aide,img,img64,query
0,1,https://webicalife.herokuapp.com/logo3.png,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",WITH tp as (INSERT INTO picture (source) VALUE...
1,2,https://webicalife.herokuapp.com/logo3.png,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",WITH tp as (INSERT INTO picture (source) VALUE...
2,3,https://webicalife.herokuapp.com/logo3.png,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",WITH tp as (INSERT INTO picture (source) VALUE...
3,4,https://webicalife.herokuapp.com/logo3.png,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",WITH tp as (INSERT INTO picture (source) VALUE...
4,5,https://webicalife.herokuapp.com/logo3.png,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",WITH tp as (INSERT INTO picture (source) VALUE...
5,6,https://webicalife.herokuapp.com/logo3.png,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",WITH tp as (INSERT INTO picture (source) VALUE...
6,7,https://webicalife.herokuapp.com/logo3.png,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",WITH tp as (INSERT INTO picture (source) VALUE...
7,8,https://webicalife.herokuapp.com/logo3.png,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",WITH tp as (INSERT INTO picture (source) VALUE...
8,9,https://webicalife.herokuapp.com/logo3.png,"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...",WITH tp as (INSERT INTO picture (source) VALUE...

In [60]:
df.iloc[1,3]

"WITH tp as (INSERT INTO picture (source) VALUES ('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOoAAADiCAMAAAB3GasRAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACHUExURQAAABCPj////4TFxf///////////////////////5zN0P///////////1Wpr////////////0Cfpv///////4bCxi+WnSKPlxWJkSSQmC6WnTKYnz2dpEGfpk+mrF6us221unW6vni7v3u9wYrEyJnLz6fT1rba3cTh49Pp6uLw8fD4+P///086DI4AAAAYdFJOUwAQEB8gMEBQYHBxgI+fr6+/z9ff7/f7/QfyeUEAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAzSSURBVHhe3Z17n6q8EYBP6XqrWrXSdq1V963uejvf//OVmMFMQoDMJIHwPv+c33IAGTLXEIZf3ZCNJrPZYrFcrTebbZ5vt5v1armcz2fTcQa7DJ9sPFusN/nvBlbL+fgDdh8o2WTeLKPGdjUfwYHDIhtTxCzJV7Nh6TNPzJJ8ORmIuNl4wRezZD2DsyXMaL6Bq/VlNYVTJkk2CyWnZJGom8rGS3/FNdnM0zPbbBJ2QBWLtCJuNo0lqCAhYbPZFi4qFokIm81jCypY9i9sN4IK+hZ2HNNGTRbwo32QLeAiOmIzgR/unGn4ONpGP1rcqe4quk+OswA5PY9Nx9niuCu/a2MOF9EJs76GVLLpLDHOlvCTvZGP4VIiM+pTeUs6UeKelbdkHV2J+1fekjyyJx71E0ztRA2xozSUtySiwY7TkvT37xVcWHB6yHnbWMOlBSYR16uzgYsLygxOnhgRMqeOS1N3toHrunTCaZXAATZhSQPLmqidlmzD2Wvikgb0wwnGU5NA8TWxbNBOkLxpEJIGmST+SKEQd8H7yXOWUtXWjO98+ArOMwA8w2vyYQazhYtmMRCXVOLhhgdkqBK+uSad+drIuVXOoAxVwswQB2aoElYmka3h6GHBecSR7LRDMwxzTW4i1JUlCODOMNVXQE2aBuh9S4hJUzZU9RXQapyB+iQJyTMN1idJKJ5puD5J4u6ZBuyTJM6eadA+SeLqmeaw/4DJQZQWvAb1eb9df6632wP+7gu3YeUO6vN2Oe4+S3anyw3+g0ZxswRP+JOJ07BmvNnQ20mJ+eZMG9zn9XLcw6Gfn6fzD2zn4DKsU9iXxO0A12dCEPZ2rt6sE08zChycMGM+6VkrqODLSdjac+wusAeV9nmmCezpzr1JUIGDHjbdrANPj9vnXsiD+m2xUYNDy8A+z7BjDSeWP29LmaiD+vyCy2nmG3a38bTYqMHuDvtSaHsQScx+W5W35AsOqNJo6G+usDeF5gJnBHs5cm9X3pIaJa4M6e5wOn8XXL5QkC5o0osamgscWvrwUEHQAdvAGFqxO2upwxVbB31cm9MIUvrwdNVeoBI2nhdt4I7f1RTp+r6bO7pvaoo3Y9jHiecJLkLjcL7d7vfH9ed8hC2KIxwJ3PEJdl81ruftnfewwZ0mDSbpryVCHC74ep/fsPmNZrA/eEiP9WN2K/c7wwZnGjSYlP5W5PjcVxXQ3ElFDS1KHRoN8VHKSlbh+kSYElSfpkvaWSzNkEgAQt3Q4fYjEXfYsT5i1VD/wHUFe7hwgZ8vOdRFeXNgRdTQQkztkYob7Eoe1rrQSqnJ30oFnOoHxkwzLvqWc8uQvoD7RR7WuuX9lNkzQy+bPYahAXt0m3aOqQHoO3VY60o5gv6WGgW0jcy9LtfYuSYG8IPkYa3RYIL/1UPqsV0H7VXBzr3ylr+4g7+csftgQv771Cx172JtP7Azpq24wzzkIdRZCXsWQTDVq/xdwO3nq0pMkbS0VqoG27MIgqlq+nuCjW08jUyRJimoBVmDrcbqbqqa/u5c1FeipZIH9+NePOVhVB9sCzcEU9X0lzLNhQ6kSvr7t1QKat1qM1aCqWoVCek2vw2WLilEZ1dzKbEZK8FUcbJD/GkwWIakoBIhjJUQVbEvJU8OCIN1CMRVwFjhL2eqxkqJqvI3XxCcUsn93FbJ1CAVguqXqtUN4flFWVMJqKbjg8y4qElEdeqb4JVwAkyeGfBAxiqqC676JYJXwhUofR6Pj3TB5Gc4lVerCF4J12RdiipdMFmPKgssCWU5TnqoTsIHaTjkUTVd8AdsdwGLCps6QY4qWVTz5XvKDDBSYPrcrAdMUc1oQ5lsQaIeYFMnSFHJD29MF0x5IwGJSk7TfJBlnLeohFgDd/dFp6LKW0z3+UYWTJnXxykEbOoEWVDRfb4RbSjLsnAOzMtmebxEZWSixlQabHUCi9o+Mx+Ox2l/cJogN9ADawZb3UBFHHtdUYfoolIyCC2HIPvDHtBzCJqoyAWTp9t7QH+jirbcAxmr8SA8SfSZNNLKAGysnQZWJnpmSBQVPYHpsrRhootKmG4RoNRwAH5JX5ZGFHVYfkmfXaIUNgXoScYAjFV/nkwUdVjGqotKVGCc8advrLoCkxc8q3DT5UwwD09RVW6YvrHqHpgYV7WEKfmMX4+rxHXABUqDkw83emJIS/cFahlH8hqsp/u0elWANNjnzZ8u8BUVhdbUqxtjzhu2EoCFRIL4WcTz7uH8jCcZjLcb1YqI6FnE4/D5uWdPYxnTaAxRVcYU3TG97ir7oYmxhJ/zdrmKN5EdE1QX3F8xprw53RFUvIn86AZWJHBTUENU1vu5aljjZkzlPeW5P3NNMP0Fx4KuhrVckcBzf+a7cYzAWqCGNeosf+nree7P7DbFE1VNvERNI95LTlkabMQa2qM4hVqCF3NY38rDqiwqr4vxepmo2BpxWFVextLgyiJDZi8elTLFW9aDZnc4oRUEVFBnlwDPO+4EWhLG0J3qwjtWtClQBU60Et1vnZQ+ByHguWCtbo3lmZSRcEKr5Zsh3P6iSr1i5REqenPMxNLYkN0jTAWcSFm/PDkITNVg24J2rrFizxSlRodkH9IVqkeomirfWLEKR1mHBzI+pMlSNdj6eR9+M2ClwjFWQss7uS+LC6KVWN5S8Gnoh6aZIlRzMpwdywKdFlptpuphrPjRMuO1hTak4hb6AiGc5BBspupjrFiFA+XCj//9579gDdL1FgEV/BMptFbKGolH90L0bDmEuULLiddtgxxFpNhSaJJjspqqX/dNz5Rc590aRpwKxlKoLbh6ggbXvYDto8Fo8sXbNakmOCKIwonFf8AAE0Jrbb9rXnkOqEyV1R1Jgdr9CF2VQymTTnJorW13zSzkJKh5jdMb2XVojY0KXZXiyYlRamitFnAlXhqMo6uHG9bf0y68rfxbOjtqaLWmShK/bwog18SW1WjhVOit3AADCaWrq2Oq8b8CjyxC4C9rpVnVA3QFpnNoodWeP0h8e8iqxJ8nK5L0D/nPD9y+chzlDo6OqSZ/kPh+FQPNjTBkRXZ6AaFO8u69ZYOb6RTP8sZvqtGXfxigZWrktOndQ+p1rLxrO3nC9wQHJbQ26W+BV2gVIFmJ44p6P4qXEaBMlRuVaHD+fTu7v4FMNXiF1heo0QVFVtyh8kvEZZRWYw1BWVkL//oLyFQDs2UuRqVNhIk13FPuJammH2g+XbsDjfwdRKolQHdrdI2uTRHEYoeSsksVHj8USPGscBP//itIVItfxiRBV+O2WAN3Sns3UkAzzFhUlJQ18g8QqAGfUq4EvwvZHhe0RrKoZYSSX5ueQ0vMEbuC/f5QcDyeTqevf7YOaphhxbK2pjZapzSs8eokhn+7/vz8XK830Rvy/ng8nk+LmTSkv4ogH9dCOWKLI9b6C2ttQJQG02c2mtOHkiDDqtViDR3Q9G6exst9bw2mT2w4DWqob6Zhp1o7LChBKu6IKdHbhsnPbl0/fkJfMWsHD1hFDIHWX9XSuvHtgFyLtje1Ey0mYYZVd07V/mBGF2RLt563scLfzrhZqiBAyiTBzqnQYk1Yo7G19R1cSEbITzOrjYdq8SzRFUYTTmWyRlN2q36/EybqijvSl5PDfbfSKtJdb/dc22oKNJgaa0ifxQvlmQrM/oWnL/NrGg2xSB5LdMDOPkkSyjMJcIliAQoZKy9jJz6hdvdJkmCeSdBUY7Y0WP3Zt7SErkLwSZJgnklgNqZUNA2phBpTST5JEs4zCexf0jiGX/+Tk3ySJEwqrKha7J70pNQRx+RXJ6gKF5hfTmC2+GtmTfRJQEgv/ALNiDM/3NIG+2PJYc214N2aPoKRvmB/AjtgIlHyuBz3h1MkQanJAya0uUZmwzNUyQpOMghy6vd0NYImTbFhG6rE+3lVd3gYqoT8FnpfLH0MVTIQ1+TlkkqonUB6IYikEbKm8Gy5WZJJ8iHHL8xoJP6Z6NwzzGAYn+/skJCSpi1r3rhmh066soaWtCBRew2rvUCSfjiKpEnG12Dx1CTEMomgbGJJGmSlT0gCZYN2ksr9mbODroySqdXzWVxJiwCbiCOO5Hp1kijq1vEcEiYBJV7EVt6SvpW4E+Ut6TXqdKS8Jf0pcXzPW6En79TxkEqyHnLiCBWbG9OOtTifd667ik7d0zrcZBmHUWdxpwd3ZDLuRNgEBBWMovunbRqCCuIKm5CggnjCbtISVBBF2HydnqAvJoGl3cz7DS/NzIJNjefLlOV8MZ57vtosyNfTNBXXZDL3ehSQr6Z95PRsJguWKuerpO2zjmy6IOlyvp6PhqG2dibT+bq1AMrXy9l40GIqPibz5Xq92WqjnG83m/VqMfuTyFgl+xiNx6PRx59VvgT49ev/BFvqJVmUaEYAAAAASUVORK5CYII=') RETURNING idpicture) INSERT INTO item (idUser, lastEdition, idUnivers, idpicture, itemname, ref, provider, description ) VALUES (0, now(), 0, (SELECT idpicture FROM tp), 2, 2, 2, 2) ;"